<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TO-DO</title>
   <link rel="stylesheet" href="/public/style/styles.css">
</head>

<body>
   <div class="topPlate">
      <h1><%= date %></h1>
   </div>

   <div class="box">
      <% items.forEach(function(item){ %>
         <form action="/delete" method="POST">
            <div class="input1">
               <input name="checkboxData" type="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
               <label for="fname"><%= item.name %></label>
            </div>
         </form>
    <%  }); %>

         <form class="form2" action="/" method="POST">
         <input type="text" placeholder="Enter the item" name="data">
         <button type="submit">+</button>
         </form>
      </div>

</body>

</html>
